@import "../../../assets/_vars.scss";

$bubbleSize: 64px;
.momentItem {
    display: inline;

    .bubble {
        border-radius: 50%;
        display: table-cell;
        font-size: 30px;
        height: $bubbleSize;
        position: relative;
        text-align: center;
        vertical-align: middle;
        width: $bubbleSize;
    }

    .name {
        font-size: 14px;
        line-height: 16px;
        padding: 8px 0;
        text-align: center;
    }

    &-animationWrapper {
        border-radius: 50%;
        color: $color-white;
        height: 100%;
        left: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 100%;

        &:before {
            animation: savingProgress 2s linear infinite;
            background: $color-dark-blue;
            bottom: calc(-#{$bubbleSize});
            content: "";
            height: $bubbleSize;
            left: 0;
            position: absolute;
            width: 100%;
            z-index: -1;
        }
    }

    &.status-active, &.status-new {
        color: $color-dark-blue;

        .bubble {
            border: 2px $color-dark-blue solid;
            cursor: pointer;
        }
    }

    &.status-done {
        .bubble {
            background-color: $color-dark-blue;
            color: $color-white;
            cursor: pointer;
        }
    }

    &.status-inactive {
        color: $color-grey;

        .bubble {
            border: 2px $color-grey solid;
            cursor: not-allowed;
        }
    }
}

@-webkit-keyframes savingProgress {
    0% { bottom: calc(-#{$bubbleSize}); }
    100% { bottom: $bubbleSize; }
}
