@import "../assets/_vars.scss";

.momentEnd {
    text-align: center;

    &-title {
        font-family: $font-family-slab;
        font-weight: $font-weight-semiBold;
        font-size: 22px;
        line-height: 48px;
    }

    &-info {
        font-size: 14px;
    }
}
