@import "../assets/_vars.scss";

.dashboard-container {
    position: relative;

    .category-header {
        padding-top: 15px;

        .category-title {
            color: $color-blue;
            font-family: $font-family-slab;
            font-size: 46px;
            font-weight: 300;
            text-align: center;

            &-aba {
                font-weight: $font-weight-semiBold;
            }
        }

        .category-description {
            font-size: 18px;
            text-align: center;
            white-space: pre;
        }

        .category-propertiesList {
            font-size: 16px;
            text-align: center;

            .category-property {
                display: inline-block;
                margin: 20px;

                .category-icon {
                    color: $color-blue;
                    margin-right: 7px;
                }

                .category-name {
                    font-weight: bold;
                }
            }
        }
    }

    .momentsList-container {
        margin: 30px -30px;
    }
}
