@import "../assets/_vars.scss";

.moment-container {
    display: inline-block;
    padding: 30px;
    text-align: center;
    width: 100%;

    .closeButton-container {
        position: absolute;
        right: 15px;
        top: 15px;
    }

    .progressBar-container {
        margin: 30px 20px;
    }

    .exercise-wrapper {

        &.currentExercise {
            opacity: 1;
            transition: visibility 0s, height 0s, opacity 1s 0.5s;
        }

        &.hiddenExercise {
            height: 0;
            opacity: 0;
            transition: visibility 0.7s, height 0.7s, opacity 0.7s 0.2s;
            visibility: hidden;
        }
    }
}