@import "../assets/_vars.scss";

.lightbox {
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 100;

    &-wrapper {
        background-color: $color-white;
        display: inline-block;
        margin-top: 100px;
        padding: 30px;
    }

    &-children {
        clear: both;
        margin: 10px;
    }

    .closeButton-container {
        float: right;
        right: -15px;
        top: -15px;
    }

    .button {
        margin-bottom: 15px;
    }
}

