@import "../assets/_vars.scss";

.exercise-container {
    display: table-cell;
    text-align: center;

    .question-wrapper {
        display: inline-block;
        margin: 10px 0;
    }

    .answerList-wrapper {
        display: table;

        .answer-wrapper {
            display: table-cell;
            padding: 20px;
        }
    }
}
