@import "../../../assets/_vars.scss";

.answer-container {
    $size: 160px;
    border: 5px $color-light-grey solid;
    border-radius: 50%;
    display: table;
    position: relative;

    &.itemType-text {
        background-color: $color-lightest-grey;
    }

    &.isActive-true {
        cursor: pointer;
    }

    &.isActive-false {
        cursor: default;

        &.isCorrect-true {
            border-color: $color-dark-blue;

            &.itemType-text {
                background-color: $color-dark-blue;
                color: $color-white;
            }
        }

        &.isCorrect-false {

            &.itemType-text {
                border-color: $color-lightest-grey;
                color: $color-grey;
            }

            &.itemType-image {
                .imageItem-container {
                    opacity: 0.3;
                }
            }
        }
    }

    .item-container {
        display: table-cell;
        height: $size;
        text-align: center;
        vertical-align: middle;
        width: $size;

        .imageItem-container {
            border: 0;
            border-radius: 50%;
            height: $size;
            width: $size;
            vertical-align: middle;
        }
    }
}
