@import "../../assets/vars";

.countdown {
    background-color: $color-white;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    &-text {
        color: $color-blue;
        font-size: 150px;
        line-height: 150px;
        margin-top: 150px;
        text-align: center;
    }

    &-seconds-0 {
        font-size: 60px;
    }
}
