@import "../../../assets/_vars.scss";

.question-container {
    $size: 150px;
    border: 3px $color-blue dashed;
    border-radius: 50%;
    display: table;
    margin: 2px;

    &.isAnsweredCorrectly-true {
        border: 5px $color-dark-blue solid;
        margin: 0;

        &.isPlaying-true {
            animation: pulse 0.3s linear infinite;
        }
    }

    &.isAnsweredCorrectly-false {
        &.isPlaying-true {
            animation: shake 0.60s cubic-bezier(.36, .07, .19, .97) both;
        }
    }

    .item-container {
        display: table-cell;
        height: $size;
        text-align: center;
        vertical-align: middle;
        width: $size;

        .imageItem-container {
            border: 0;
            border-radius: 50%;
            vertical-align: middle;
        }
    }
}

@-webkit-keyframes pulse {
    0% { box-shadow:0 0 0 8px $color-blue; }
    50% { box-shadow:0 0 0 20px $color-blue; }
    100% { box-shadow:0 0 0 8px $color-blue; }
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-2px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(4px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-8px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(8px, 0, 0);
    }
}