@import "../../assets/vars";

.bubbleNotification-container {
    border-radius: 20px;
    color: $color-white;
    height: 40px;
    font-size: 24px;
    left: 0;
    margin: -5px -8px;
    position: absolute;
    top: 0;
    transform-origin: left top;
    width: 40px;

    &[class^="base-icon-"], &[class*=" base-icon-"] {
        line-height: 40px;
    }

    &.type-done {
        background-color: $color-green;
    }

    &.type-inactive {
        background-color: $color-grey;
    }

    &.type-new {
        background-color: $color-blue;
    }
}

