@import "../../assets/vars";

.button {
    border-radius: 3px;
    color: $color-white;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    margin: 20px 0 0;
    overflow: hidden;
    padding: 0 20px;
    position: relative;
    text-transform: uppercase;

    &.type-basic {
        background-color: $color-blue;

        &:hover {
            background-color: darken($color-blue, 5%);
        }
    }

    &.autoClick {
        &:before {
            animation: autoClickButton linear forwards;
            animation-duration: inherit;
            background: darken($color-blue, 10%);
            content: "";
            height: 100%;
            left: 0;
            position: absolute;
            width: 0;
        }
    }

    &-text {
        position: relative;
    }
}

@-webkit-keyframes autoClickButton {
    0% { width: 0; }
    100% { width: 100%; }
}
