@import "../../assets/vars";

.progressBar-container {
    background: $color-light-grey;
    border-radius: 10px;
    height: 10px;
    position: relative;

    .progressBar-inner {
        background-color: $color-blue;
        border-radius: 10px;
        height: 10px;
        overflow: hidden;
        position: relative;
        transition: 0.4s linear;
        transition-property: width;
        width: 0;
    }
}
